<div class="user_box">
  <h3 class="user_legit_name"><%=@current_user.fname%> <%=@current_user.lname%></h3>
  <p class="user_username"><%=@current_user.username %></p>
  <div>
    <div>Twits: <%=@current_user.twits.count%></div>
    <div>Following: <%=@current_user.followees.count%></div>
    <div>Followers: 16<%#=@current_user.followers.count%></div>
  </div>
</div>

<div class="all_twits">
    <%@twits_to_show.each do |twit|%>
    <div class="one_twit"><h3 class="twit_username"><%=twit.user.username%></h3><p class="twit_content"><%=twit.content%></p></div>
    <%end%>
<div>


