<% @current_user.fname + " " + @current_user.lname %>
<section>
    <h2>Twits</h2>
    <% if current_user %>
      <%= erb :_twit_form %>
    <% end %>
    <table>
      <% Twit.find(@current_user.id).reverse_each do |twit| %>
      <% hash = Digest::MD5.hexdigest(twit.user.email.downcase) %>
        <tr>
          <td>
            <img src="http://www.gravatar.com/avatar/<%= "#{hash}" %>">
          </td>
          <td>
            <p><b><%= "#{twit.user.firstname} #{twit.user.lastname}" %></b><span><%= twit.time_difference %></span></p>
            <p><%= twit.content %></p>
          </td>
        </tr>
      <% end %>
    </table>
</section>


